.button svg {
  margin-right: 8px;
  
}

button svg {
  margin-left: 10px;
}

.button {
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  border: 0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark);
  cursor: pointer;
  transition: 0.25s;
}
.button:hover {
  transition: 0.25s;
  -webkit-box-shadow: 0px 0px 0px 2px var(--gray-transp);
  -moz-box-shadow: 0px 0px 0px 2px var(--gray-transp);
  box-shadow: 0px 0px 0px 2px var(--gray-transp);
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.multicolor {
  background: var(--blue);
  background: linear-gradient(110deg, var(--blue) 0%, var(--violet) 100%);
}

.green {
  background: var(--green);
  background: linear-gradient(150deg, var(--dark-green) 0%, var(--green) 100%);
}

.blue {
  background: var(--blue);
  background: linear-gradient(110deg, var(--light-blue) 0%, var(--blue) 100%);
}

.default__link, .default__link__dark {
  color: var(--light);
  background: transparent;
  font-weight: 500;
  border: 0;
  opacity: 0.9;
  transition: 0.2s;
}

.default__link__dark {
  margin: 0;
  margin-bottom: 6px;
  padding: 0 8px;
  font-size: 0.8em;
  font-weight: 200;
  color: var(--dark-gray);
}

.default__link:hover, .default__link__dark:hover {
  box-shadow: unset;
  color: var(--gray);
  transition: 0.2s;
}

.mini {
  border-radius: 8px 8px 0 0;
  padding: 6px 20px;
  background: linear-gradient(110deg, #c55bf6 0%, #15b182 100%);
}

