.navbar__full {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar__links__left, .navbar__links__right  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.nav__link {
    color: var(--dark-gray);
    font-size: 0.9em;
    font-weight: 200;
    margin: 0 8px;
    display: flex;
    align-items: center;
}

.nav__link > svg {
    font-size: 1.6em;
    margin-right: 4px;
}