@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;800&family=Rubik:wght@200;300;400;500;600&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;

}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {

  --clear:rgb(244, 245, 246);
  --double-light:rgb(221, 231, 236);
  --light:rgb(233, 233, 233);
  --light-gray:rgb(174, 174, 174);
  --gray:rgb(125, 125, 125);
  --gray-transp:rgba(67, 67, 67, 0.464);
  --dark-gray:rgb(67, 67, 67);
  --dark:rgb(32, 32, 32);
  --blue:#476098;
  --light-blue:#639cc7;
  --violet:#A7489B;
  --green:rgb(90, 185, 149);
  --light-green:rgb(105, 249, 194);
  --dark-green:rgb(9, 149, 142);

  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.9);
  background-image: url(../src/assets/bg.svg);
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}


body {
  margin: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: auto;
  min-height: 500px;
}


a {
  font-weight: 500;
  color: var(--light);
  text-decoration: inherit;
}

a:hover {
  color: var(--double-light);
}


h1 {
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-family: 'Rubik', sans-serif;
}

.full__container {
  background-color: var(--double-light);
  color: var(--dark-gray);
  padding: 100px 2% 20px 2%;
  padding-top: 100px;
  width: 100%;
  min-height: 100vh;
}

.full__top {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 160px;
}


